.main {
  margin: 60px 0;
}
.intro {
  display: grid;
  grid-template-columns: repeat(auto-fit, 23rem);
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.intro__logo {
  width: 100%;
}

.intro__title {
  margin-top: 0;
}
